<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zsoo.spring.mybatis.RecordMapper">
    <select id="select" resultType="net.zsoo.spring.mybatis.Record">
        <![CDATA[ 
        SELECT record_id
        ,season
        ,period
        ,dungeon_id
        FROM mythic_record
        LIMIT 20
        ]]>
    </select>
</mapper>
